
.icon-warning:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e802'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
