@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Oswald";
  src: url(../assets/font/Oswald-VariableFont_wght.ttf);
}
.navbar-brand:hover {
  transform: scale(1.1, 1.2);
  transition: 0.5s;
}

.navbar-brand a:hover {
  transform: scale(1.1, 1.2);
  transition: 0.5s;
  color: #000000;
}

.container-fluid:hover {
  color: #000000;
}

.carousel-control-next {
  color: black;
  margin-right: 100px;
}

.img_circulo {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  transform: translate(-140px, 0px);
}

.cabecera_servicio {
  transform: translate(0px, 20px);
}

.servicio {
  transform: translate(0px, 40px);
}

.btn btn-secondary {
  cursor: pointer;
}

.section-formulario1 {
  background-image: url(../img/contacto.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.form,
.form-estructura,
.form-header,
.form-tittle {
  font-family: "Oswald";
  font-weight: normal;
  color: orangered;
  padding: 14px 0;
}

.form,
.form-estructura,
.form-header,
.form-tittle span {
  color: white;
}

.form,
.form-estructura {
  background: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}

.form,
.form-estructura,
.form-label {
  display: block;
  color: #ff851b;
  font-size: 16px;
  font-family: "Oswald";
  position: relative;
}

.form,
.form-estructura,
.form-input,
.form-select {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #ff851b;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: white;
  font-family: "Oswald";
}

.form,
.form-estructura,
.form-select {
  resize: vertical;
}

.btn-submit1 {
  font-family: "Oswald";
  padding: 5px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 10px;
}

.btn-submit1:hover {
  color: #ff851b;
  transform: scale(1.2, 1.2);
  transition: 0.5s;
}

.btn-submit2 {
  font-family: "Oswald";
  padding: 5px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-submit2:hover {
  color: #ff851b;
  transform: scale(1.2, 1.2);
  transition: 0.5s;
}

/*Formulario 2*/
.section-formulario2 {
  background-image: url(../img/fondo\ de\ formilario.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.form2,
.form-estructura2,
.form-header2,
.form-tittle2 {
  font-family: "Oswald";
  font-weight: normal;
  color: orangered;
  padding: 14px 0;
}

.form2,
.form-estructura2,
.form-header2,
.form-tittle2 span {
  color: white;
}

.form2,
.form-estructura2 {
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}

.form2,
.form-estructura2,
.form-label2 {
  display: block;
  color: #ff851b;
  font-size: 16px;
  font-family: "Oswald";
  position: relative;
}

.form2,
.form-estructura2,
.form-input2,
.form-select2 {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #ff851b;
  width: 80%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: white;
  font-family: "Oswald";
}

.form2,
.form-estructura2,
.form-select2 {
  resize: vertical;
}

.btn-submit1 {
  font-family: "Oswald";
  padding: 5px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 10px;
}

.btn-submit1:hover {
  color: #ff851b;
  transform: scale(1.2, 1.2);
  transition: 0.5s;
}

.btn-submit2 {
  font-family: "Oswald";
  padding: 5px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-submit2:hover {
  color: #ff851b;
  transform: scale(1.2, 1.2);
  transition: 0.5s;
}

.form3,
.form-estructura3,
.form-header3,
.form-tittle3 {
  font-family: "Oswald";
  font-weight: normal;
  color: orangered;
  padding: 14px 0;
}

.form3,
.form-estructura3,
.form-header3,
.form-tittle3 span {
  color: white;
}

.form3,
.form-estructura3 {
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}

.form3,
.form-estructura3,
.form-label3 {
  display: block;
  color: #ff851b;
  font-size: 16px;
  font-family: "Oswald";
  position: relative;
}

.form3,
.form-estructura3,
.form-input3 {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #ff851b;
  width: 80%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: white;
  font-family: "Oswald";
}

.form3,
.form-estructura3,
.form-select3 {
  resize: vertical;
}

.btn-submit1 {
  font-family: "Oswald";
  padding: 5px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 10px;
}

.btn-submit1:hover {
  color: #ff851b;
  transform: scale(1.2, 1.2);
  transition: 0.5s;
}

.btn-submit2 {
  font-family: "Oswald";
  padding: 5px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}

#btn-mas {
  display: none;
}

.container_ico {
  position: relative;
  bottom: 20px;
  margin-left: 20px;
  width: 100%;
  margin-bottom: 30px;
  display: inline;
  justify-content: space-between;
  justify-content: space-around;
}

.redes a,
.btn-mas label {
  display: block;
  text-decoration: none;
  background: #cc2b2b;
  color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease;
}

.redes a:hover {
  background: #fff;
  color: #cc2b2b;
}

.redes a {
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}

#btn-mas:checked ~ .redes a {
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}

.btn-mas label {
  cursor: pointer;
  background: #f44141;
  font-size: 23px;
}

#btn-mas:checked ~ .btn-mas label {
  transform: rotate(135deg);
  font-size: 25px;
}

.container_rastreo {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  grid-template-rows: 1.4fr 1.1fr 0.5fr;
  grid-auto-columns: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas: "instrucciones aside" "numeros-de-rastreo aside" "ayuda aside";
}

.aside {
  grid-area: aside;
  border: #ffffff solid;
  height: 600px;
  width: 100%;
  text-align: center;
  width: 600px;
  margin-right: 20px;
  background-image: url(../img/rastreo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.instrucciones {
  grid-area: instrucciones;
  border: #ffffff solid;
  margin-left: 20px;
  position: static;
  display: block;
  width: 700px;
  justify-content: space-around;
}

.titulo {
  text-align: center;
  color: #ff851b;
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Oswald";
  outline: none;
  padding-top: 30px;
}

h2 {
  text-align: center;
}

h2:hover {
  color: #050505;
  transform: scale(1.2, 1.2);
}

.menu_items2 {
  font-weight: bold;
  font-family: "Oswald";
  color: #ff851b;
  margin-left: 20px;
  margin-top: 40px;
}

.menu_items:hover {
  color: #000000;
}

.numeros-de-rastreo {
  margin-left: 20px;
  margin-top: 30px;
  position: relative;
  transform: translate(120px, -320px);
  margin-bottom: 10px;
}

.btn-1 {
  text-align: center;
  margin: 10px 10px;
  font-family: "Oswald";
  font-weight: bolder;
  text-transform: capitalize;
}

.btn-1:hover {
  background: #15ff00;
  color: #080808;
  transform: scale(1.2, 1.2);
  transition: 0.5s;
  border-radius: 5%;
}

.btn-2 {
  text-align: center;
  margin: 10px 10px;
  font-family: "Oswald";
  font-weight: bolder;
  text-transform: capitalize;
}

.btn-2:hover {
  background: #15ff00;
  color: #080808;
  transform: scale(1.2, 1.2);
  transition: 0.5s;
  border-radius: 5%;
}

.img_tracking {
  width: 330px;
  transform: translate(390px, -430px);
  text-decoration: none;
}

.contenidocard .subcontenidocard {
  background-image: url(../img/fondocard.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.contenidocard h2 {
  text-align: center;
  padding-top: 10px;
  font-family: "Oswald";
}

.letra {
  color: #000000;
  font-family: "Oswald";
  font-weight: bold;
}

.letra:hover {
  color: #ff851b;
}

.tarifa {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.1fr 3.6fr 0.1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px 119px;
  grid-template-areas: ". pais-de-destino ." ". seguro ." ". n°-pqt,-peso,-unidad,-fecha ." ". valor .";
}

.pais-de-destino {
  grid-area: pais-de-destino;
  border: #000000 solid;
  text-align: center;
  height: 300px;
}

.seguro {
  grid-area: seguro;
  border: #000000 solid;
  text-align: center;
  height: 300px;
}

.n°-pqt\,-peso\,-unidad\,-fecha {
  grid-area: n°-pqt\,-peso\,-unidad\,-fecha;
  border: #000000 solid;
  text-align: center;
}

.valor {
  grid-area: valor;
  border: #000000 solid;
  text-align: center;
}

.linea {
  margin-left: 180px;
  margin-right: 180px;
}

.comunicacion {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Oswald";
  font-weight: bold;
}

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forml {
  background-color: rgb(255, 255, 255);
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
  color: #000000;
  font-family: "Oswald";
  font-weight: bold;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #507bd0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

::-moz-placeholder {
  color: transparent;
}

:-ms-input-placeholder {
  color: transparent;
}

::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: rgb(255, 251, 251);
  color: #b2b4b7;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: #406882;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: #0099ff;
  transform: translateY(-2px);
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #0099ff;
}

.input:focus {
  border: 2px solid #0099ff;
}

.input:not(:-moz-placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.input:not(:-ms-input-placeholder) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.title {
  text-align: center;
}

footer {
  padding: 1px;
  background: linear-gradient(rgb(242, 234, 233), rgb(11, 87, 113));
  background-size: cover;
  opacity: 90%;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 290px;
  font-family: "Oswald";
}

.container_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.box_footer {
  display: flex;
  flex-direction: column;
}

.box_footer .logo_footer img {
  width: 100px;
  height: 70px;
  padding-top: 10px;
}

.box_footer .terms {
  max-width: 300px;
  margin-top: 0px;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: justify;
}

.box_footer .terms:hover {
  color: white;
}

.box_footer h2 {
  margin-bottom: 30px;
  color: #010101;
  font-weight: 700;
}

.box_footer a {
  margin-top: 5px;
  color: #000000;
  font-weight: 600;
}

.box_footer a:hover {
  opacity: 0.8;
  color: white;
}

.box_footer a .fab {
  font-size: 20px;
}

.box_copyright {
  max-width: 1200px;
  text-align: center;
  padding: 0px 40px;
}

.box_copyright p {
  margin-top: 1px;
  color: #000000;
}

.box_copyright hr {
  border: none;
  height: 1px;
  background-color: #000000;
}/*# sourceMappingURL=estilos.css.map */