<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGICS EXPRESS©</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e7fc1e4d90.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/jpg" href="../img/favicon.ico"/>
</head>
<body class="hidden">
  <div class="centrado" id="onload">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(rgb(11, 87, 113), rgb(242, 234, 233))">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"  style="width: 350px; font-size: 30px; color: white; font-weight: bold; font-family: Oswald';" >LOGICS EXPRESS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-weight: bold; font-family: "Oswald; >
                      SERVICIOS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="./Menu de envio.html">Menu de envios</a></li>
                      <li><a class="dropdown-item" href="./Rastrea tu Pedido.html">Rastrea tu pedido</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="./Conoce nuestras tarifas.html">Conoce nuestras tarifas</a></li>
                    </ul>
                  </li>
              <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="./ABOUT US.html" style="color: white; font-weight: bold; font-family: "Oswald>ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./CUENTA.html" style="color: white; font-weight: bold; font-family: "Oswald" >CUENTA</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="./CONTACTO.html" style="color: white; font-weight: bold; font-family: "Oswald>CONTACTO</a>
              </li>
            </ul>
                <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" >
                <button class="btn btn-outline-success" type="submit" placeholder="Buscar" style="color: rgb(255, 255, 255) ; font-weight: bold; font-family: font-family= "Oswald >Buscar</button>
            </form>
          </div>
        </div>
      </nav>

      <div class="comunicacion">
        <h2>
          <p>Comuníquese con nosotros</p>
        </h2>
      </div>        
      

      <hr class="linea">
      <div class="p-5 mb-4 bg-light rounded-3" style="margin-left: 180px; margin-right: 180px; margin-top: 20px; ">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Custom jumbotron</h1>
          <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
          <button class="btn btn-primary btn-lg" type="button">Example button</button>
        </div>
      </div>

      <h2></h2>

      <div class="h-100 p-5 text-white bg-dark rounded-3" style="width: 500px; margin-left: 180px">
        <h2>Change the background</h2>
        <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
        <button class="btn btn-outline-light" type="button">Example button</button>
      </div>
  
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3" style="transform:translate(690px,-270px); width: 480px;">
          <h2>Add borders</h2>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. djjdlaoiehenem,splplálapkaok</p>
          <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
      </div>

      <div class="container_ico">
        <input type="checkbox" id="btn-mas">
        <div class="redes">
            <a href="#" class="fa-solid fa-user"></a>
            <a href="#" class="fa-solid fa-magnifying-glass"></a>
            <a href="#" class="fa-solid fa-circle-info"></a>
            <a href="#" class="fa-solid fa-triangle-exclamation"></a>
            <a href="#" class="fa-sharp fa-solid fa-gears"></a>
        </div>
        <div class="btn-mas">
            <label for="btn-mas" class="fa fa-plus"></label>
        </div>
    </div>

    <footer>
        <div class="container_footer">
          <div class="box_footer">
          <div class="logo_footer">
            <img src="../img/logo_small.png" alt="logo empresa">
          </div>
          <div class="terms">
                <p>Somos una empresa dedicada a satisfacer la demanda de envios tanto nacional e internacional para cumplir con las necesidades de nuestros clientes.</p>
          </div>
          </div>

          <div class="box_footer">
            <h2>Compañia</h2>
            <a href="#">Acerca de</a>
            <a href="#">Trabajos</a>
            <a href="#">Procesos</a>
            <a href="#">Servicios</a>
          </div>

           <div class="box_footer">
             <h2>Nosotros</h2>
             <a href="#">Contacto</a>
             <a href="#">Ubicacion</a>
             <a href="#">About Us</a>
             <a href="#">Trabaja con nosotros</a>
           </div>

           <div class="box_footer">
             <h2>Redes Sociales</h2>
             <a href="#"><i class="fab fa-facebook-square"></i>Facebook</a>
             <a href="#"><i class="fab fa-twitter-square"></i>Twitter</a>
             <a href="#"><i class="fab fa-linkedin"></i>Linkedin</a>
             <a href="#"><i class="fab fa-instagram-square"></i>Instagram</a>
           </div>
        </div>
        <div class="box_copyright">
            <hr>
            <p>Todos los derechos reservados ©2022
            <b>LOGISTICS EXPRESS</b>
            </p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
    crossorigin="anonymous"></script>
    <script src="../main.js"></script>
</body>
</html>