<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGICS EXPRESS©</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e7fc1e4d90.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/jpg" href="../img/favicon.ico"/>
</head>
<body class="hidden">
  <div class="centrado" id="onload">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(rgb(11, 87, 113), rgb(242, 234, 233))">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"  style="width: 350px; font-size: 30px; color: white; font-weight: bold; font-family: Oswald';" >LOGICS EXPRESS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-weight: bold; font-family: "Oswald; >
                      SERVICIOS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="./Menu de envio.html">Menu de envios</a></li>
                      <li><a class="dropdown-item" href="./Rastrea tu Pedido.html">Rastrea tu pedido</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="./Conoce nuestras tarifas.html">Conoce nuestras tarifas</a></li>
                    </ul>
                  </li>
              <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="./ABOUT US.html" style="color: white; font-weight: bold; font-family: "Oswald>ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./CUENTA.html" style="color: white; font-weight: bold; font-family: "Oswald" >CUENTA</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="./CONTACTO.html" style="color: white; font-weight: bold; font-family: "Oswald>CONTACTO</a>
              </li>
            </ul>
                <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" >
                <button class="btn btn-outline-success" type="submit" placeholder="Buscar" style="color: rgb(255, 255, 255) ; font-weight: bold; font-family: font-family= "Oswald >Buscar</button>
            </form>
          </div>
        </div>
      </nav>

      <section class="section-formulario2">
        <div class="form2">
              <form action="#" class="form-estructura2">
                  <div class="form-header2">
                      <h1 class="form-tittle2" href="#">D<span>atos quien envia</span></h1>
                  </div>
                  <label for="nombre" class="form-label2">Nombre</label>
                  <input type="text" id="nombre" class="form-input2" placeholder="Escriba su nombre">
                  
                  <label for="apellido" class="form-label2">Apellido</label>
                  <input type="text" class="form-input2" id="apellido" placeholder="Escriba su apellido">
                  
                  <label for="numero" class="form-label2">Nro. Telefono</label>
                  <input type="text" class="form-input2" id="numero" placeholder="Nro. Telefono">
  
                  <label for="direccion" class="form-label2">Direccion de envio</label>
                  <input type="text" class="form-input2" id="direccion" placeholder="Escriba direccion"><br>
                  <label for="Seleccione el pais" class="form-label2">Pais</label>
                  <select class="form-select2" aria-label="Default select example">
                      <option selected style="width: 40px ;">Selecione el Pais</option>
                      <option value="1" disabled>A</option>
                      <option value="2">Alemania</option>
                      <option value="3">Antigua y Barbuda</option>
                      <option value="4">Angola
                      <option value="5">Argentina
                      <option value="6">Australia
                      <option value="8" disabled>B
                      <option value="9">Bahamas
                      <option value="10">Belgica
                      <option value="11">Bolivia
                      <option value="12">Brasil
                      <option value="13">Bulgaria                    
                      <option value="14" disabled>C                    
                      <option value="15">Canada
                      <option value="16">Catar
                      <option value="17">Chile
                      <option value="18">Colombia
                      <option value="19">Corea del Norte
                      <option value="20">Costa Rica
                      <option value="21">Croacia
                      <option value="22">Cuba                    
                      <option value="23" disabled>D                    
                      <option value="24">Dinamarca                    
                      <option value="25" disabled>E                    
                      <option value="26">Ecuador
                      <option value="27">Egipto
                      <option value="28">El Salvador
                      <option value="29">España
                      <option value="30">Estados Unidos
                      <option value="31" disabled>F                    
                      <option value="32">Finlandia
                      <option value="33">Francia                    
                      <option value="34"disabled>G                    
                      <option value="35">Grecia
                      <option value="36">Guatemala
                      <option value="37">Guyana                    
                      <option value="38"disabled>H                    
                      <option value="39">Haiti
                      <option value="40">Honduras
                      <option value="41">Hong Kong
                      <option value="42">Holanda
                      <option value="43">Hungria                    
                      <option value="44"disabled>I                    
                      <option value="45">India
                      <option value="46">Indonesia
                      <option value="47">Islandia
                      <option value="48">Israel
                      <option value="49">Italia                    
                      <option value="50"disabled>J                    
                      <option value="51">Jamaica
                      <option value="52">Japon
                      <option value="53">Jordania                    
                      <option value="54"disabled>K                    
                      <option value="55">Kuwait                    
                      <option value="56"disabled>M                    
                      <option value="57">Mexico
                      <option value="58">Maldivas
                      <option value="59">Marruecos
                      <option value="60">Monaco                    
                      <option value="61"disabled>N                    
                      <option value="62">Nicaragua                    
                      <option value="63"disabled>Ñ                    
                      <option value="64">No disponible                    
                      <option value="65"disabled>O                    
                      <option value="66">No disponible                                        
                      <option value="67"disabled>P                    
                      <option value="68">Peru
                      <option value="69">Portugal
                      <option value="70">Puerto Rico
                      <option value="71">Paraguay
                      <option value="72"disabled>R                    
                      <option value="73">Reino Unido
                      <option value="74">Republica Dominicana
                      <option value="75">Rusia                    
                      <option value="76"disabled>S                    
                      <option value="77">Suiza
                      <option value="78">Suecia                    
                      <option value="79"disabled>T                    
                      <option value="80">Taiwan
                      <option value="81">Tunez
                      <option value="82">Trinidad y Tobago                    
                      <option value="83"disabled>U                    
                      <option value="84">Ucania
                      <option value="85">Uruguay                    
                      <option value="86"disabled>V                 
                      <option value="87">Venezuela
                      <option value="88">Vaticano                    
                      <option value="89"disabled>W           
                      <option value="90">No disponible                    
                      <option value="91"disabled>X              
                      <option value="92">No disponible
                      <option value="94"disabled>Y
                      <option value="94">No disponible
                      <option value="95"disabled>Z
                      <option value="96">No disponible
                      </select><br>
                      <input type="submit" class="btn-submit1" value="Enviar">
                      <input type="reset" class="btn-submit2" value="Borrar datos">
                    </form>
                    <form action="">
                      <div class="form3">
                        <form action="#" class="form-estructura3">
                            <div class="form-header3">
                                <h1 class="form-tittle3" href="#">D<span>atos quien recibe</span></h1>
                            </div>
                            <label for="nombre" class="form-label3">Nombre</label>
                            <input type="text" id="nombre" class="form-input3" placeholder="Escriba su nombre">
                            
                            <label for="apellido" class="form-label3">Apellido</label>
                            <input type="text" class="form-input3" id="apellido" placeholder="Escriba su apellido">
                            
                            <label for="numero" class="form-label3">Nro. Telefono</label>
                            <input type="text" class="form-input3" id="numero" placeholder="Nro. Telefono"><br>
                            <input type="submit" class="btn-submit1" value="Enviar">
                            <input type="reset" class="btn-submit2" value="Borrar datos">
                      </div>
                    </form>
                    </section>

      <hr class="featurette-divider"> 

      <div class="wow row  animate__animated animate__fadeInUp" style="margin-left:10px; margin-top:20px">
        <div class="col-sm-10 ">
          <div class="card">
            <div class="card-body">
              <img class="wow animate__animated animate__fadeInDown" src="../img/masbeneficioparatunegocio.jpg" alt="beneficio" width="250px" height="200px">
              <h5 class="wow card-title animate__animated animate__backInLeft">Mas Beneficios para tu negocio</h5>
              <p class="wow card-text animate__animated animate__fadeInDown">En Logistics Express© hacemos que tus envios sean nuestra prioridad ya que ponemos a tu disposicion las mejores profesionales de logistica u nos comprometemos aque tus paquetes sean los primeros en llegar.</p>
              <a href="#" class="wow btn btn-primary animate__animated animate__fadeInDown">Mas informacion.</a>
            </div>
          </div>
        </div>
        <div class="col-sm-10" style="margin-left:170px; margin-top:20px;">
          <div class="card">
            <div class="card-body">
              <img class="wow animate__animated animate__fadeInDown" src="../img/tusenviossonunarecompensa.jpg" alt="Recompensa por envio" width="250px" height="200px">
              <h5 class="wow card-title animate__animated animate__backInLeft">¡Tus envíos son una recompensa!</h5>
              <p class="card-text">Promoción válida para tus envíos internacionales de exportación.</p>
              <p>Participa en el sorteo de 4 kits de última generación.</p>
              <a href="#" class="btn btn-primary animate__animated animate__fadeInDown">Registrate y participa aqui.</a>
            </div>
          </div>
        </div>
        <div class="col-sm-10" style="margin-left:10px; margin-top:20px">
          <div class="card">
            <div class="card-body">
              <img class="wow animate__animated animate__fadeInDown" src="../img/ecomers.jpg" alt="Recompensa por envio" width="250px" height="200px">
              <h5 class="wow card-title animate__animated animate__backInRight">Usa nuestro servicio de e‑commerce nacional</h5>
              <p class="card-text">Atrévete a innovar en tu servicio de e‑commerce con nuestra experiencia global. Aprende sobre todos los servicios que tenemos para promover tu negocio en línea.</p>
              <a href="#" class="btn btn-primary animate__animated animate__fadeInDown">Mas informacion</a>
            </div>
          </div>
        </div>
        <div class="col-sm-10" style="margin-left:170px; margin-top:20px; margin-bottom: 20px;">
          <div class="card">
            <div class="card-body">
              <img class="wow animate__animated animate__fadeInDown" src="../img/pagatusboletas.jpg" alt="imagen 4" width="250px" height="200px">
              <h5 class="wow card-title animate__animated animate__backInRight">¡Pagar tus facturas de FedEx es fácil!</h5>
              <p class="card-text">Elige la opción de pago en línea que mejor se ajuste a tus necesidades.</p>
              <a href="#" class="btn btn-primary animate__animated animate__fadeInDown">Mas informacion</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>

      <div class="container_ico">
        <input type="checkbox" id="btn-mas">
        <div class="redes">
            <a href="#" class="fa-solid fa-user"></a>
            <a href="#" class="fa-solid fa-magnifying-glass"></a>
            <a href="#" class="fa-solid fa-circle-info"></a>
            <a href="#" class="fa-solid fa-triangle-exclamation"></a>
            <a href="#" class="fa-sharp fa-solid fa-gears"></a>
        </div>
        <div class="btn-mas">
            <label for="btn-mas" class="fa fa-plus"></label>
        </div>
    </div>

    <footer>
        <div class="container_footer">
          <div class="box_footer">
          <div class="logo_footer">
            <img src="../img/logo_small.png" alt="logo empresa">
          </div>
          <div class="terms">
                <p>Somos una empresa dedicada a satisfacer la demanda de envios tanto nacional e internacional para cumplir con las necesidades de nuestros clientes.</p>
          </div>
          </div>

          <div class="box_footer">
            <h2>Compañia</h2>
            <a href="#">Acerca de</a>
            <a href="#">Trabajos</a>
            <a href="#">Procesos</a>
            <a href="#">Servicios</a>
          </div>

           <div class="box_footer">
             <h2>Nosotros</h2>
             <a href="#">Contacto</a>
             <a href="#">Ubicacion</a>
             <a href="#">About Us</a>
             <a href="#">Trabaja con nosotros</a>
           </div>

           <div class="box_footer">
             <h2>Redes Sociales</h2>
             <a href="#"><i class="fab fa-facebook-square"></i>Facebook</a>
             <a href="#"><i class="fab fa-twitter-square"></i>Twitter</a>
             <a href="#"><i class="fab fa-linkedin"></i>Linkedin</a>
             <a href="#"><i class="fab fa-instagram-square"></i>Instagram</a>
           </div>
        </div>
        <div class="box_copyright">
            <hr>
            <p>Todos los derechos reservados ©2022
            <b>LOGISTICS EXPRESS</b>
            </p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
    crossorigin="anonymous"></script>
    <script src="../main.js"></script>
</body>
</html>