<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGICS EXPRESS©</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e7fc1e4d90.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/jpg" href="../img/favicon.ico"/>
</head>
<body class="hidden">
  <div class="centrado" id="onload">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(rgb(11, 87, 113), rgb(242, 234, 233))">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"  style="width: 350px; font-size: 30px; color: white; font-weight: bold; font-family: Oswald';" >LOGICS EXPRESS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-weight: bold; font-family: "Oswald; >
                      SERVICIOS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="./Menu de envio.html">Menu de envios</a></li>
                      <li><a class="dropdown-item" href="./Rastrea tu Pedido.html">Rastrea tu pedido</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="./Conoce nuestras tarifas.html">Conoce nuestras tarifas</a></li>
                    </ul>
                  </li>
              <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="./ABOUT US.html" style="color: white; font-weight: bold; font-family: "Oswald>ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./CUENTA.html" style="color: white; font-weight: bold; font-family: "Oswald" >CUENTA</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="./CONTACTO.html" style="color: white; font-weight: bold; font-family: "Oswald>CONTACTO</a>
              </li>
            </ul>
                <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" >
                <button class="btn btn-outline-success" type="submit" placeholder="Buscar" style="color: rgb(255, 255, 255) ; font-weight: bold; font-family: font-family= "Oswald >Buscar</button>
            </form>
          </div>
        </div>
      </nav>
    
      <div class="container_rastreo">
        <div class="aside">

        </div>
        <div class="instrucciones">
          <p>
            <h2 class="titulo">
              INSTRUCCIONES
            </h2>
            <ol class="menu_items2">
              <li>Colocar el numero alfanumero de rastreo.</li>
              <li>De tener mas multiples numero de rastreo desplegar el segundo max 5 numeros.</li>
              <li>Presionar enviar.</li>
              <li>A continuacion estara a la vista la etapa en la cual se encuentra su producto.</li>
            </ol>
          </p>
        </div>
      </div>
      <div class="numeros-de-rastreo" style="padding-top: 0px ;">
        <div class="accordion accordion-flush" id="accordionFlushExample" style="width: 300px; ">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Numero de Rastreo
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <label for="" class="envio">N° envio</label>
                  <p>
                  <input class="numero_rastreo" type="Numero de Rastreo" placeholder="#12AB90567PL" required>
                  <p>
                  <input class="btn-1" type="submit" value="enviar">
                  <input class="btn-2" type="reset" value="borrar datos">
                  </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Multiples n° de rastreo
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
              <label for="" class="envio">N° envio</label>
              <p>
                  <input type="Nuero de rastreo" placeholder="N° de rastreo" required><br>
              </p>
              <label for="" class="envio">N° envio</label>
              <p>
                  <input type="Nuero de rastreo" placeholder="N° de rastreo" required><br>
              </p>
              <label for="" class="envio">N° envio</label>
              <p>
                  <input type="Nuero de rastreo" placeholder="N° de rastreo" required><br>
              </p>
              <label for="" class="envio">N° envio</label>
              <p>
                  <input type="Nuero de rastreo" placeholder="N° de rastreo"required><br>
              </p>
              <label for="" class="envio">N° envio</label>
              <p>
                  <input type="Nuero de rastreo" placeholder="N° de rastreo"required><br>
              </p>
          </div>
              <p>
              <input class="btn-1" type="submit" value="enviar">
              <input class="btn-2" type="reset" value="borrar datos">
              </p>
          </div>
              </div>
            </div>
          </div>
      </div>
      <hr>

    </section>
    <h2 class="section_2">
      <p class="wow animate__animated animate__heartBeat"><span class="letra">NUESTRA EMPRESA</span></p>
    </h2>
    <div class="contenidocard">
    <div class="subcontenidocard">
    <div class="wow row  animate__animated animate__fadeInUp">
      <div class="col-sm-3  margin-top:50px;">
        <div class="card">
          <div class="card-body">
            <img class="wow animate__animated animate__fadeInDown" src="./img/Atenderte-es-nuestra-pasion-transformed.jpeg" alt="imagen1" width="250px" height="200px">
            <h5 class="wow card-title animate__animated animate__backInLeft">Tratamiento especial del título</h5>
            <p class="wow card-text animate__animated animate__fadeInDown">Con texto de apoyo a continuación como introducción natural a contenido adicional.</p>
            <a href="#" class="wow btn btn-primary animate__animated animate__fadeInDown">Ir a algún lugar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="wow animate__animated animate__fadeInDown" src="./img/soporte-las-24-horas-al-dia-transformed.jpeg" alt="imagen2" width="250px" height="200px">
            <h5 class="wow card-title animate__animated animate__backInLeft">Tratamiento especial del título</h5>
            <p class="card-text">Con texto de apoyo a continuación como introducción natural a contenido adicional.</p>
            <a href="#" class="btn btn-primary animate__animated animate__fadeInDown">Ir a algún lugar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="wow animate__animated animate__fadeInDown" src="./img/Eficiencia-transformed.jpeg" alt="imagen3" width="250px" height="200px">
            <h5 class="wow card-title animate__animated animate__backInRight">Tratamiento especial del título</h5>
            <p class="card-text">Con texto de apoyo a continuación como introducción natural a contenido adicional.</p>
            <a href="#" class="btn btn-primary animate__animated animate__fadeInDown">Ir a algún lugar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="wow animate__animated animate__fadeInDown" src="./img/e-comerse-transformed.jpeg" alt="imagen 4" width="250px" height="200px">
            <h5 class="wow card-title animate__animated animate__backInRight">Tratamiento especial del título</h5>
            <p class="card-text">Con texto de apoyo a continuación como introducción natural a contenido adicional.</p>
            <a href="#" class="btn btn-primary animate__animated animate__fadeInDown">Ir a algún lugar</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>



      <div class="container_ico">
        <input type="checkbox" id="btn-mas">
        <div class="redes">
            <a href="#" class="fa-solid fa-user"></a>
            <a href="#" class="fa-solid fa-magnifying-glass"></a>
            <a href="#" class="fa-solid fa-circle-info"></a>
            <a href="#" class="fa-solid fa-triangle-exclamation"></a>
            <a href="#" class="fa-sharp fa-solid fa-gears"></a>
        </div>
        <div class="btn-mas">
            <label for="btn-mas" class="fa fa-plus"></label>
        </div>
    </div>

    <footer>
        <div class="container_footer">
          <div class="box_footer">
          <div class="logo_footer">
            <img src="../img/logo_small.png" alt="logo empresa">
          </div>
          <div class="terms">
                <p>Somos una empresa dedicada a satisfacer la demanda de envios tanto nacional e internacional para cumplir con las necesidades de nuestros clientes.</p>
          </div>
          </div>

          <div class="box_footer">
            <h2>Compañia</h2>
            <a href="#">Acerca de</a>
            <a href="#">Trabajos</a>
            <a href="#">Procesos</a>
            <a href="#">Servicios</a>
          </div>

           <div class="box_footer">
             <h2>Nosotros</h2>
             <a href="#">Contacto</a>
             <a href="#">Ubicacion</a>
             <a href="#">About Us</a>
             <a href="#">Trabaja con nosotros</a>
           </div>

           <div class="box_footer">
             <h2>Redes Sociales</h2>
             <a href="#"><i class="fab fa-facebook-square"></i>Facebook</a>
             <a href="#"><i class="fab fa-twitter-square"></i>Twitter</a>
             <a href="#"><i class="fab fa-linkedin"></i>Linkedin</a>
             <a href="#"><i class="fab fa-instagram-square"></i>Instagram</a>
           </div>
        </div>
        <div class="box_copyright">
            <hr>
            <p>Todos los derechos reservados ©2022
            <b>LOGISTICS EXPRESS</b>
            </p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
    crossorigin="anonymous"></script>
    <script src="../main.js"></script>
</body>
</html>